$initDeg: 0deg;
$maxDeg: 360;
.vinyle_skin {
  border: 1px solid red;
}

.vinyle_strt {
  width: 20%;
  display: inline-block;
}

.spin-clockwise {
  animation: spin_clockwise 2s linear 0s infinite;
}

.spin-counter-clockwise {
  animation: spin_counter_clockwise 2s linear 0s infinite;
}

@keyframes spin_clockwise {
  from {
    transform: rotate($initDeg);
  }
  to {
    transform: rotate(-$maxDeg);
  }
}

@keyframes spin_counter_clockwise {
  from {
    transform: rotate($initDeg);
  }
  to {
    transform: rotate(-$maxDeg);
  }
}
