.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: [ header-start ] 0fr [ header-end nav-start ] 0.1fr [ nav-end main-start ] 2fr [ main-end footer-start ] 0.3fr [ footer-end ];
  grid-template-areas: "header" "nav" "main" "footer";
  min-height: 100%;
}

.header {
  grid-area: header;
}

.nav {
  grid-area: nav;
  display: flex;
  justify-content: space-between;
  ul {
    width: 100%;
    padding: 0 5% 0 0;
  }
  li {
    display: inline-block;
    list-style: none;
    margin-right: 4%;
  }
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}
