.snap-section {
  display: flex;
}

img {
  width: 100%;
}

.img-frame {
  border: 1px solid #fff;
}

.div1 {
  background-color: purple;
}

.div2 {
  background-color: darkslateblue;
}

.div3 {
  background-color: indianred;
}
